* {
    box-sizing: border-box;
}
:root {
    --primary-color-bg: #143c3c;
    --primary-color-text: #272115;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    text-rendering: optimizeSpeed;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Header */
.header {
    position: sticky;
    z-index: 99;
    background-color: #fff;
    top: -20px;
    padding-top: 28px;
    font-family: "Public Sans", sans-serif;
    font-weight: 500;
}

.header__row {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
}

.header__nav {
    margin-left: auto;
}

/* Navbar */
.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__link {
    padding: 4px 19px;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
}

.navbar__link:hover {
    opacity: 0.9;
}

.navbar__link-active {
    color: var(--primary-color-text);
}

.navbar__link-active::before {
    position: relative;
    bottom: -36px;
    left: 22px;
    display: inline-block;
    content: "";
    width: 16px;
    height: 2px;
    background: var(--primary-color-bg);
}

/* Header Action */
.header__signup {
    --height: 57px;
    --font-btn: inherit;
    border-radius: 999px;
    margin-left: 69px;
    min-width: 173px;
    background-color: var(--primary-color-bg);
    font-size: 1.8rem;
    color: #ffffff;
}

.header__line {
    height: 1px;
    background: linear-gradient(
        90deg,
        #ffffff 0%,
        #dddcdc 51.09%,
        rgba(213, 213, 213, 0) 99.68%
    );
}

.decorative-img {
    position: absolute;
    top: -32px;
    left: -172px;
}

.decorative-img-sun {
    position: absolute;
    left: -36px;
    top: 10px;
}

.decorative-img-reverse {
    transform: rotate(180deg);
    position: absolute;
    right: 40px;
    bottom: -163px;
}

/* ============ HERO ========= */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Public Sans", sans-serif;
    height: calc(100vh - 98px);
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 25px;
}
.hero__content {
    width: 34%;
    flex-shrink: 0;
}

.hero__title {
    max-width: 368px;
    font-weight: 800;
    font-size: 5rem;
    line-height: 1.2;
    color: var(--primary-color-text);
}

.hero__desc {
    margin: 20px 0 42px 0;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
}

.hero__cta {
    display: flex;
}

.hero__cta-btn {
    --height: 57px;
    --font-btn: inherit;
    border-radius: 999px;
    min-width: 173px;
    background-color: var(--primary-color-bg);
    font-size: 1.8rem;
    color: #ffffff;
}

.video-play {
    display: flex;
    align-items: center;
    margin-left: 36px;
    cursor: pointer;
}

.video-play__circle {
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 59px;
    border: 4px solid var(--primary-color-bg);
    border-top-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
    background: transparent;
}

.video-play__img {
    transform: rotate(-45deg);
}

/* Hero medida */
.hero__media {
    position: relative;
    width: 646px;
    height: 446px;
}

.hero__media-list {
    display: flex;
    column-gap: 20px;
}

.hero__media-img {
    display: block;
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
}

.hero__media-img:nth-child(2) {
    margin-top: 77px;
}

/* ===========CLIENT========== */
.client {
    margin-top: 42px;
}

.client__row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    height: 201px;
    background: #e2eddf;
    border-radius: 100.5px;
}

.client__row-item {
    display: flex;
    align-items: center;
    gap: 8px;
}
.client__google {
    font-weight: 500;
    font-size: 3.1rem;
    line-height: 46px;
    color: var(--primary-color-bg);
}

.client__slack {
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 48px;
    color: var(--primary-color-bg);
}

.client__agworld {
    font-size: 2.6rem;
    line-height: 39px;
    color: #163c35;
}

.client__riotinto {
    font-family: "Sonsie One";
    font-weight: 400;
    font-size: 2.3rem;
    color: var(--primary-color-bg);
}

.client__heroku {
    font-weight: 600;
    font-size: 1.9rem;
    line-height: 28px;
    letter-spacing: 0.105em;
    color: var(--primary-color-bg);
}

/* ========SERVICES========== */
.services {
    margin-top: 106px;
}
.services__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.services__heading {
    max-width: 520px;
}

.services__control {
    display: flex;
    column-gap: 17px;
}

.services__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    background: #e2eddf;
    color: var(--primary-color-text);
    transition: 0.25s;
}

.services__btn:hover {
    cursor: pointer;
    background-color: var(--primary-color-bg);
    color: #fff;
}

/* ===========ABOUT========== */
.about {
    padding-top: 157px;
}

.about__inner {
    display: flex;
    justify-content: space-between;
    gap: 64px;
}

.about__media {
    position: relative;
    width: 591px;
    padding-top: 13px;
}

.about__images {
    display: flex;
    column-gap: 21px;
}

.about__img {
    width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
}
.about__img:first-child {
    margin-top: 77px;
}

.about__decorative {
    /* background-color: red; */
    right: 0;
    left: 78px;
}

.about__content {
    flex: 1;
}

.all-desingers {
    position: absolute;
    bottom: 8px;
    right: -9px;
    font-family: "Public Sans";
    width: 143px;
    padding: 19px 17px 11px;
    background: #ffffff;
    box-shadow: 0px 7px 54px rgba(154, 154, 154, 0.25);
    border-radius: 8px;
}

.all-desingers__heading {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: var(--primary-color-text);
}
.all-desingers__desc {
    margin-top: 6px;
    font-size: 1rem;
    line-height: 1.4;
    color: #575d5e;
    opacity: 0.4;
}

.all-desingers__percent,
.all-desingers__loading,
.all-desingers___text {
    margin-top: 10px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--primary-color-text);
}

.all-desingers__line {
    position: relative;
    margin-top: 3px;
    width: 96px;
    height: 2px;
    background: #eaeaea;
    border-radius: 10px;
}

.all-desingers__line::before {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    display: inline-block;
    content: "";
    width: 40px;
    height: 2px;
    background: #83a17d;
    border-radius: 10px;
}

.all-desingers__loading {
    margin-top: 3px;
    text-align: right;
}

.all-desingers__circle {
    box-sizing: content-box;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--primary-color-bg);
    border: 3px solid #eaeaea;
}

.all-desingers__row {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all-desingers__teams {
    display: flex;
    align-items: center;
}

.all-desingers___text {
    margin: 0;
}

.all-desingers__item {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #ffffff;
    margin-left: -6px;
}

.about__heading {
    margin-top: 20px;
}

.about__desc {
    margin-top: 11px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #7d8188;
}

.about-content__row {
    display: flex;
    align-items: center;
    column-gap: 24px;
    padding-bottom: 20px;
    margin-top: 36px;
    border-bottom: 1px solid #83a17d;
}

.about-content__desc {
    max-width: 364px;
}

/* ===========PROCESS============ */
.process {
    margin-top: 79px;
    padding-top: 36px;
}

.process__heading {
    margin-top: 20px;
    max-width: 477px;
}

.process__body {
    margin-top: 81px;
}

.process-item {
    padding: 46px 20px 0;
    min-height: 151px;
    transition: 0.25s;
}

.process-item:hover {
    background: #e2eddf;
    border-radius: 33px;
}

.process-item:hover .process-item__line {
    visibility: hidden;
}

.process-item:hover .process-item__more {
    visibility: visible;
}

.process-item__body {
    display: flex;
    align-items: center;
    position: relative;
}

.process-item__number {
    flex-basis: 13.6%;
    font-weight: 600;
    font-size: 7.2rem;
    line-height: 52px;
    color: var(--primary-color-bg);
}

.process-item__center {
    flex-basis: 30%;
    padding-top: 38px;
}

.process-item__more {
    visibility: hidden;
    display: block;
    margin-top: 22px;
    text-decoration: underline;
}

.process-item__heading {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #152427;
}

.process-item__desc {
    max-width: 572px;
    max-width: 572px;
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #7d8188;
}

.process-item__line {
    margin-top: 46px;
    width: calc(1131px - 20px);
    margin-left: -20px;
    height: 3px;

    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
}

.process__img {
    position: absolute;
    bottom: 0;
    right: 92px;
    width: 450px;
    height: 444px;
    object-fit: cover;
}

/* ==========PROJECT */
.project {
    margin-top: 148px;
    padding: 116px 0 63px;
    background-color: var(--primary-color-bg);
}

.section-header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project__heading {
    width: 457px;
    color: #fff;
}

.project__dash {
    background: #83a17d;
}

.project__media {
    position: relative;
    margin-top: 65px;
}

.project__img {
    display: block;
    width: 1140px;
    height: 544px;
    object-fit: cover;
    border-radius: 22px;
}

.project__btn-play {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 118px;
    height: 118px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.project__media-sun {
    position: absolute;
    right: -40px;
    top: -72px;
}

.project__media-vector-line {
    position: absolute;
    top: -166px;
    right: -40px;
}

/*============FEATURE======== */
.feature {
    margin-top: 40px;
    padding-top: 100px;
}

.feature__header {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.feature__heading {
    max-width: 520px;
}

.feature__desc {
    margin-top: 20px;
    width: 547px;
    font-size: 1.6rem;
    line-height: 1.62;
}

.feature__list {
    margin-top: 103px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 45px;
}

.feature-item {
    width: 350px;
    height: 362px;
    padding: 65px 43px;
    background: #ffffff;
    border-radius: 160px;
    text-align: center;
    border: 1.5px solid #cecece;
    transition: 0.25s;
}

.feature-item:hover {
    background: #ffffff;
    box-shadow: 0px 36px 100px rgba(111, 120, 111, 0.2);
    transform: translateY(-59px);
}
.feature-item__heading {
    margin: 24px 0 12px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    color: #152427;
}

.feature-item__desc {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}

/* ==========BLOG=== */
.blog {
    margin-top: 84px;
    padding-top: 100px;
}

.blog__header {
    margin-top: 10px;
}

.blog__heading {
    width: 571px;
}

.blog__dash {
    background: #152427;
}

.blog-list {
    gap: 30px;
}
.blog-item {
    position: relative;
    border-radius: 40px 40px 20px 20px;
    transition: 0.25s;
    padding-bottom: 12px;
    min-height: 521px;
}

.blog-item::after {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    display: block;
    content: "";
    background-color: #c4c4c4;
    height: 1px;
    width: 100%;
}

.block-item:hover {
    background: #ffffff;
    box-shadow: 0px 12px 74px rgba(91, 91, 91, 0.25);
}

.block-item:hover .blog-btn {
    color: #fff;
    background: var(--primary-color-bg);
}

.blog-item__body {
    margin-top: 26px;
    padding: 0;
    transition: 0.25s;
}

.block-item:hover .blog-item__body {
    padding: 0 30px;
}

.block-item:hover::after {
    width: calc(100% - 60px);
    margin: 0 auto;
}

.blog-item__heading {
    margin-top: 13px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #143c3c;
}

.blog-item__desc {
    position: absolute;
    bottom: 12px;
    right: 33px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2;
    color: #575d5e;
}

.blog-header-top__desc {
    max-width: 409px;
}

/* ==========FOOTER ==== */
.footer {
    margin-top: 102px;
    padding-top: 72px;
    background-color: #143c3c;
}

.footer__row {
    display: grid;
    grid-template-columns: 9fr 1fr 1fr 1fr 1fr;
    column-gap: 50px;
    padding-bottom: 45px;
    border-bottom: 1px solid #6a8383;
}

.footer__desc {
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #ffffff;
}

.footer-form {
    display: flex;
    align-items: center;
    margin-top: 25px;
    padding-bottom: 33px;
    width: fit-content;
    border-bottom: 1px solid #6a8383;
}

.footer-form::after {
    display: block;
    content: "";
}

.footer-form__input {
    padding: 0 10px 0 0;
    margin-right: 122px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
}

.footer-form__input::placeholder {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #6a8383;
}

.footer-form__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.footer__social {
    display: flex;
    align-items: center;
    column-gap: 22px;
    margin-top: 47px;
}

.footer__social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #265252;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: transparent;
    transition: 0.25s;
}

.footer__social-item:hover {
    background: #a75325;
    cursor: pointer;
    border-color: #a75325;
}

.footer__heading {
    font-size: 1.8rem;
    line-height: 1.56;
    color: #ffffff;
    margin-bottom: 6px;
}

.footer-list__link,
.footer__copyright-text {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 2.25;
    color: #6a8383;
}

.footer-list__link:hover {
    text-decoration: underline;
}

.footer__copyright {
    text-align: center;
    padding: 28px 0 48px;
}
