* {
    box-sizing: border-box;
}
:root {
    --primary-color: #143c3c;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

input,
select,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
}

.btn {
    --font-btn: "Poppins", sans-serif;
    --height: 26px;
    display: inline-block;
    font-family: var(--font-btn);
    font-weight: 500;
    min-width: 107px;
    height: var(--height);
    text-align: center;
    line-height: var(--height);
    background: #e2eddf;
    border-radius: 20px;
    font-size: 1rem;
    color: #000;
    transition: 0.25s;
}

.btn:hover {
    opacity: 0.9;
}

.section-desc {
    position: relative;
    padding-left: 46px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #152427;
}

.section-desc::before {
    position: absolute;
    top: 7px;
    left: -0;
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    background: #152427;
}

/* Header */
.header {
    position: sticky;
    z-index: 99;
    background-color: #fff;
    top: -20px;
    padding-top: 28px;
    font-family: "Public Sans", sans-serif;
    font-weight: 500;
}

.header__row {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
}

.header__nav {
    margin-left: auto;
}

/* Navbar */
.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__link {
    padding: 4px 19px;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
}

.navbar__link:hover {
    opacity: 0.9;
}

.navbar__link-active {
    color: #152427;
}

.navbar__link-active::before {
    position: relative;
    bottom: -36px;
    left: 22px;
    display: inline-block;
    content: "";
    width: 16px;
    height: 2px;
    background: var(--primary-color);
}

/* Header Action */
.header__signup {
    --height: 57px;
    --font-btn: inherit;
    border-radius: 999px;
    margin-left: 69px;
    min-width: 173px;
    background-color: var(--primary-color);
    font-size: 1.8rem;
    color: #ffffff;
}

.header__line {
    height: 1px;
    background: linear-gradient(
        90deg,
        #ffffff 0%,
        #dddcdc 51.09%,
        rgba(213, 213, 213, 0) 99.68%
    );
}

/* ============ HERO ========= */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Public Sans", sans-serif;
    height: calc(100vh - 98px);
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 25px;
}
.hero__content {
    width: 34%;
    flex-shrink: 0;
}

.hero__title {
    max-width: 368px;
    font-weight: 800;
    font-size: 5rem;
    line-height: 1.2;
    color: #152427;
}

.hero__desc {
    margin: 20px 0 42px 0;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
}

.hero__cta {
    display: flex;
}

.hero__cta-btn {
    --height: 57px;
    --font-btn: inherit;
    border-radius: 999px;
    min-width: 173px;
    background-color: var(--primary-color);
    font-size: 1.8rem;
    color: #ffffff;
}

.video-play {
    display: flex;
    align-items: center;
    margin-left: 36px;
}

.video-play__circle {
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 59px;
    border: 4px solid var(--primary-color);
    border-top-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
    background: transparent;
}

.video-play__img {
    transform: rotate(-45deg);
}

/* Hero medida */
.hero__media {
    position: relative;
    width: 646px;
    height: 446px;
}

.hero__media-list {
    display: flex;
    column-gap: 20px;
}

.hero__media-img {
    display: block;
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
}

.hero__media-img:nth-child(2) {
    margin-top: 77px;
}

.hero__media-line {
    position: absolute;
    top: -32px;
    left: -172px;
}

.hero__media-sun {
    position: absolute;
    left: -36px;
    top: 10px;
}

.hero__media-line-reverse {
    transform: rotate(180deg);
    position: absolute;
    right: 40px;
    bottom: -163px;
}

/* ===========CLIENT========== */
.client {
    margin-top: 42px;
}

.client__row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    height: 201px;
    background: #e2eddf;
    border-radius: 100.5px;
}

.client__row-item {
    display: flex;
    align-items: center;
    gap: 8px;
}
.client__google {
    font-weight: 500;
    font-size: 3.1rem;
    line-height: 46px;
    color: var(--primary-color);
}

.client__slack {
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 48px;
    color: var(--primary-color);
}

.client__agworld {
    font-size: 2.6rem;
    line-height: 39px;
    color: #163c35;
}

.client__riotinto {
    font-family: "Sonsie One";
    font-weight: 400;
    font-size: 2.3rem;
    color: var(--primary-color);
}

.client__heroku {
    font-weight: 600;
    font-size: 1.9rem;
    line-height: 28px;
    letter-spacing: 0.105em;
    color: var(--primary-color);
}

/* ========SERVICES========== */
.services {
    margin-top: 106px;
}
.services__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services__heading {
    max-width: 520px;
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #152427;
}

.services__heading::after {
    position: relative;
    bottom: 12px;
    left: 15px;
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    background: #152427;
}
.services__control {
    display: flex;
    column-gap: 17px;
}

.services__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    background: #e2eddf;
    color: #152427;
    transition: 0.25s;
}

.services__btn:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
}

.services__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    margin-top: 76px;
}

.services-item {
    border-radius: 20px;
    transition: 0.25s;
}

.services-item:hover {
    background: #ffffff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    border-radius: 20px;
}

.services-item__image {
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.services-item:hover .services-item__img {
    transform: scale(1.1);
}

.services-item__body {
    padding: 23px 18px;
}

.services-item__img {
    display: block;
    width: 370px;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    transition: 0.25s;
}

.services-item__heading {
    margin: 24px 0 18px;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #152427;
}

.services-item__desc {
    max-width: 268px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}
